PORT=4000
CLIENT_ORIGINS=http://localhost:3000
WORLD_APP_API_KEY=
WORLD_APP_ID=
MONGODB_URI=
USER_STORE_FILE=
DOTPAYMINI_INTERNAL_API_KEY=
TRANSACTION_STORE_FILE=
QUOTE_DEFAULT_KES_PER_USD=130
QUOTE_TTL_SECONDS=300
MPESA_ENABLED=false
MPESA_ENV=sandbox
MPESA_BASE_URL=
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_STK_SHORTCODE=
MPESA_B2C_SHORTCODE=
MPESA_B2B_SHORTCODE=
MPESA_PASSKEY=
MPESA_INITIATOR_NAME=
MPESA_SECURITY_CREDENTIAL=
MPESA_B2C_INITIATOR_NAME=
MPESA_B2C_SECURITY_CREDENTIAL=
MPESA_B2C_COMMAND_ID=BusinessPayment
MPESA_B2B_INITIATOR_NAME=
MPESA_B2B_SECURITY_CREDENTIAL=
MPESA_B2B_PAYBILL_INITIATOR_NAME=
MPESA_B2B_PAYBILL_SECURITY_CREDENTIAL=
MPESA_B2B_PAYBILL_COMMAND_ID=BusinessPayBill
MPESA_B2B_BUYGOODS_INITIATOR_NAME=
MPESA_B2B_BUYGOODS_SECURITY_CREDENTIAL=
MPESA_B2B_BUYGOODS_COMMAND_ID=BusinessBuyGoods
MPESA_B2B_BUYGOODS_RECEIVER_IDENTIFIER_TYPE=2
MPESA_B2B_REQUESTER=
MPESA_B2C_API_VERSION=v3
MPESA_WEBHOOK_URL=
MPESA_RESULT_BASE_URL=
MPESA_TIMEOUT_BASE_URL=
MPESA_WEBHOOK_SECRET=
MPESA_MIN_TXN_KES=10
MPESA_MAX_TXN_KES=150000
MPESA_MAX_DAILY_KES=500000
MPESA_PIN_MIN_LENGTH=6
MPESA_SIGNATURE_MAX_AGE_SECONDS=600
MPESA_REQUIRE_ONCHAIN_FUNDING=true
MPESA_MIN_FUNDING_CONFIRMATIONS=1
MPESA_ALLOW_SMART_WALLET_FUNDING=true
TREASURY_RPC_URL=
TREASURY_PLATFORM_ADDRESS=
TREASURY_PRIVATE_KEY=
TREASURY_USDC_CONTRACT=
TREASURY_CHAIN_ID=
TREASURY_USDC_DECIMALS=6
TREASURY_WAIT_CONFIRMATIONS=1
